/* GENERAL PAGE */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff5f0;
    color: #333;
}


/* HEADER */

header {
    background-color: #6b2d2d;
    color: white;
    text-align: center;
    padding: 10px;
	font-family: Georgia,serif;
}

.logo{
	width:250px;
	height:250px;
	object-fit:cover;
	margin-right:40px;
}


/* WEBSITE TITLE */

header h1 {
    font-family: Georgia, serif;
    font-size: 40px;
    margin-bottom: 20px;
}


/* NAVIGATION */

nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}


/* HOVER EFFECT */

nav a:hover {
    color: #ffd6a5;
}


/* SECTIONS */

section {
    padding: 50px;
    text-align: center;
}


/* HOME */

#home {
    background-color: #ffe5d9;
    min-height: 300px;
}


#home h2 {
    font-size: 35px;
}


/* BUTTON */

#home a {
    display: inline-block;
    background-color: #6b2d2d;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}


/* PRODUCTS */

.product {
    display: inline-block;
    background-color: white;
    width: 200px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px #ccc;
}


/* PRICES TABLE */

table {
    margin: auto;
    border-collapse: collapse;
    width: 70%;
    background-color: white;
}


th, td {
    border: 1px solid #999;
    padding: 15px;
}


th {
    background-color: #6b2d2d;
    color: white;
}


/* GALLERY */

#gallery img {
    width: 100px;
    height:150px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
}


/* CONTACT */

#contact {
    background-color: #ffe5d9;
}

#Order Now {
	background-color:#ffe5d9
	
}


.qr-section{
	text-align:center;
	padding:30px;
}


.qr-code{
	width: 200px;
	height: auto;
	max-width: none
	object fit: fill;
	margin:20px auto;
}








/* FOOTER */

footer {
    background-color: #6b2d2d;
    color: white;
    text-align: center;
    padding: 15px;
}